{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1>Welcome to Michael Hawk University, {{ username }}!</h1>
    <h2>You are an {{ usertype }}</h2>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/admin_panel'">Django Admin Panel</button>
    <h3>Admin Page</h3>
    <p>Here you can add, edit, and delete courses, sections, students, and faculty.</p>
    {% if admin.access_level == 1 %}
    <p>Access Level: 1</p>
    {% elif admin.access_level == 2 %}
    <p>Access Level: 2</p>
    {% endif %}
    <div class="row mt-4">
        <div class="col-md-6 mb-3">
            <a href="/admin/users" class="btn btn-primary btn-block btn-lg large-button" onclick="showLoadingModal()">User Management</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/admin/students" class="btn btn-primary btn-block btn-lg large-button" onclick="showLoadingModal()">Students</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/admin/courses" class="btn btn-secondary btn-block btn-lg large-button" onclick="showLoadingModal()">Courses</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/admin/facultys" class="btn btn-success btn-block btn-lg large-button" onclick="showLoadingModal()">Faculties</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="/admin/college" class="btn btn-info btn-block btn-lg large-button" onclick="showLoadingModal()"> College Management </a>
        </div>
        <!-- Add more button columns as needed -->
    </div>

</div>

{% endblock %}