{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <h2>Students List</h2>
    <table id="studentsTable" class="table">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Major</th>
                <th>Minor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.studentID }}</td>
                <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                <td>{{ student.major_id }}</td>
                <td>{{ student.minor_id }}</td>
                <td>
                    <button class="btn btn-primary edit-btn" data-toggle="modal" data-target="#editStudentModal" data-studentid="{{ student.studentID }}">Edit</button>
                    <button class="btn btn-secondary edit-grades-btn" onclick="window.location.href='/admin/student/gradebook/{{ student.studentID }}'">Edit Grades</button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Edit Student Modal -->
<div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="editStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editStudentModalLabel">Edit Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editStudentForm">
                    <!-- Fields will be populated here by JavaScript -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="editStudentForm" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#studentsTable').DataTable();

        function fetchStudentData(studentId) {
            $.ajax({
                url: '/admin/get_student_data/',  // Adjust the URL to your view
                type: 'GET',
                data: { 'studentID': studentId },
                success: function(response) {
                    // Clear existing form data
                    $('#editStudentForm').empty();

                    // Dynamically create form fields based on response
                    $('#editStudentForm').append('<input type="hidden" name="studentID" value="' + response.studentID + '">');
                    // Major, Minor, Enrollment Year, Student Type
                    $('#editStudentForm').append(createSelectField('department_id', 'Department', response.department_id, response.departments));
                    $('#editStudentForm').append(createSelectField('major_id', 'Major', response.major_id, response.majors));
                    $('#editStudentForm').append(createSelectField('minor_id', 'Minor', response.minor_id, response.minors));
                    $('#editStudentForm').append('<div class="form-group"><label>Enrollment Year</label><input type="number" class="form-control" name="enrollment_year" value="' + response.enrollment_year + '"></div>');
                    $('#editStudentForm').append(createSelectField('student_type', 'Student Type', response.student_type, {'Undergraduate': 'Undergraduate', 'Graduate': 'Graduate'}));

                    // Conditional fields based on student type
                    if (response.student_type === 'Undergraduate') {
                        $('#editStudentForm').append(createSelectField('undergrad_student_type', 'Undergrad Student Type', response.undergrad_student_type, {'FullTime': 'Full-Time', 'PartTime': 'Part-Time'}));
                        $('#editStudentForm').append(createSelectField('standing', 'Standing', response.standing, {'Fresh': 'Freshman', 'Sophomore': 'Sophomore', 'Junior': 'Junior', 'Senior': 'Senior'}));
                        $('#editStudentForm').append('<div class="form-group"><label>Credits Earned</label><input type="number" class="form-control" name="creds_earned" value="' + response.creds_earned + '"></div>');
                    } else if (response.student_type === 'Graduate') {
                        $('#editStudentForm').append(createSelectField('grad_student_type', 'Grad Student Type', response.grad_student_type, {'FullTime': 'Full-Time', 'PartTime': 'Part-Time'}));
                        $('#editStudentForm').append('<div class="form-group"><label>Year</label><input type="number" class="form-control" name="year" value="' + response.year + '"></div>');
                        $('#editStudentForm').append('<div class="form-group"><label>Qualifying Exam</label><input type="checkbox" class="form-control" name="qualifying_exam" ' + (response.qualifying_exam ? 'checked' : '') + '></div>');
                        $('#editStudentForm').append('<div class="form-group"><label>Thesis</label><input type="checkbox" class="form-control" name="thesis" ' + (response.thesis ? 'checked' : '') + '></div>');
                    }

                    // Show the modal
                    $('#editStudentModal').modal('show');
                },
                error: function(error) {
                    console.log(error);
                    alert('Error fetching student data');
                }
            });
        }

        // Function to create a select field
        function createSelectField(fieldName, fieldLabel, selectedValue, options) {
            let fieldHtml = '<div class="form-group"><label>' + fieldLabel + '</label><select class="form-control" name="' + fieldName + '">';
            for (let key in options) {
                // Convert both to strings to ensure proper comparison
                let isSelected = (key.toString() === selectedValue.toString()) ? ' selected' : '';
                fieldHtml += '<option value="' + key + '"' + isSelected + '>' + options[key] + '</option>';
            }
            fieldHtml += '</select></div>';
            return fieldHtml;
        }
        // Event listener for edit button click
        $('.edit-btn').on('click', function() {
            var studentId = $(this).data('studentid');
            fetchStudentData(studentId);
        });

        // Handling form submission
        $('#editStudentForm').on('submit', function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            var studentId = $('#editStudentForm input[name=studentID]').val();
            $.ajax({
                url: '/admin/update_student/'+studentId,  // Adjust the URL to your update view
                type: 'POST',
                data: formData,
                success: function(response) {
                    $('#editStudentModal').modal('hide');
                    location.reload();  // Or handle UI update without reloading
                },
                error: function(error) {
                    console.log(error);
                    alert('Error updating student');
                }
            });
        });
    });
</script>
{% endblock %}
