{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1>Welcome to Michael Hawk University, {{ username }}!</h1>
    <h2>You are an {{ usertype }}</h2>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/admin_panel'">Django Admin Panel</button>
    <h3>Admin Page</h3>
    <p>Here you can add, edit, and delete courses, sections, students, and faculty.</p>
    {% if admin.access_level == 1 %}
    <p>Access Level: 1</p>
    {% elif admin.access_level == 2 %}
    <p>Access Level: 2</p>
    {% endif %}

</div>

{% endblock %}