{% extends "base.html" %}

{% block content %}
<table id="facultyTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Department(s)</th>
            <th>Specialty</th>
            <th>Type</th>
            <th>Office</th>
        </tr>
    </thead>
    <tbody>
        {% for faculty_member in faculty %}
        <tr>
            <td><a href="/faculty/{{faculty_member.user.id}}/" target="_blank">{{ faculty_member.user.first_name }} {{faculty_member.user.last_name}}</a></td>
            <td>{{ faculty_member.get_rank_display }}</td>
            <td>{% for dept in faculty_member.departments.all %}
                {{ dept.department_name }}{% if not forloop.last %},{% endif %}
              {% endfor %}</td>
            <td>{{ faculty_member.specialty }}</td>
            <td>{{ faculty_member.get_fac_type_display }}</td>
            <td>
                {% if faculty_member.fac_type == 'FullTime' %}
                    {{ faculty_member.faculty_fulltime.office }}
                {% else %}
                    {{ faculty_member.faculty_parttime.office }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
    $('#facultyTable').DataTable(
        {responsive: true}
    );
});
</script>
{% endblock %}
