{% extends "base.html" %}
{% load static %}
{% block style %}
    <style>
        /* DataTables */
        #cont {
            background-color: var(--secondary-color);
            drop-shadow: 0px 0px 40px var(--accent-color);
            border-radius: 20px;
        }
        #scheduleTable_wrapper {
            color: var(--black);
        }
        #scheduleTable thead {
            background-color: var(--secondary-color);
            color: var(--white);
        }
        #scheduleTable tbody tr:nth-child(odd) {
            background-color: var(--accent-color);
        }
        #scheduleTable tbody tr:nth-child(even) {
            background-color: var(--secondary-accent-color);
        }
        .filter-container {
            margin-bottom: 10px;
            text-align: left; /* or center, based on your layout */

        }
        .filter-container select {
            margin-right: 10px;
        }
    </style>
{% endblock %}
{% block content %}
<div id='cont' class="container mt-5 center-block text-center" >
    <h1 style="color:var(--accent-color)" >Master Schedule</h1>
    <div class="mb-3">
        <label for="semesterSelect" class="form-label">Select Semester:</label>
        <select class="form-select" id="semesterSelect">
            <option value="Fall 2023" selected>Fall 2023</option>
            <option value="Spring 2024">Spring 2024</option>
        </select>
    </div>
    <table id="scheduleTable"  >
        <thead>
            <tr>
                <th>CRN</th>
                <th>Course</th>
                <th>Department</th>
                <th>Credits</th>
                <th>Professor</th>
                <th>Room</th>
                <th>Timeslot</th>
                <th>Semester</th>
                <th>Seats Available</th>
                {% if usertype == "Student" %}
                <th>Register</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
            <tr>
                <td>{{ section.crn }}</td>
                <td><a href="/course/{{ section.course.course_id }}" target="_blank">{{ section.course }}</a></td>
                <td>{{ section.department}}</td>
                <td>{{ section.credits }}</td>
                <td><a href="/faculty/{{section.faculty.user.id}}/" target="_blank">{{ section.faculty.user.first_name }} {{ section.faculty.user.last_name }}</a></td>
                <td>{{section.room}}</td>
                <td>{{ section.days }}:<br> {{ section.timeslot }}</td>
                <td>{{ section.semester }}</td>
                <td {% if section.available_seats <= 0 %}style="color: red;"{%endif%}>{{ section.available_seats }}</td>
                {% if usertype == "Student" %}
                <td><a href="/register/{{ section.crn }}/" class="btn btn-primary" onClick="showLoadingModal('Registering...')">Register</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready( function () {
            $('#scheduleTable').DataTable(
                {responsive: true}
            );
            $('#scheduleTable').DataTable().column(7).search("Fall 2023").draw();
        } );

        $('#semesterSelect').on('change', function () {
            var selectedSemester = $(this).val();
            //filter the datatable to that semester
            $('#scheduleTable').DataTable().column(7).search(selectedSemester).draw();
        });
    </script>
{% endblock %}