{% extends "base.html" %}
{% load static %}
{% block style %}
    <style>
        /* DataTables */
        #cont {
            background-color: var(--secondary-color);
            drop-shadow: 0px 0px 40px var(--accent-color);
            border-radius: 20px;
        }
        #scheduleTable_wrapper {
            color: var(--black);
        }
        #scheduleTable thead {
            background-color: var(--secondary-color);
            color: var(--white);
        }
        #scheduleTable tbody tr:nth-child(odd) {
            background-color: var(--accent-color);
        }
        #scheduleTable tbody tr:nth-child(even) {
            background-color: var(--secondary-accent-color);
        }
        .filter-container {
            margin-bottom: 10px;
            text-align: left; /* or center, based on your layout */

        }
        .filter-container select {
            margin-right: 10px;
        }
    </style>
{% endblock %}
{% block content %}
<div id='cont' class="container mt-5 center-block text-center" >
    <h1 style="color:var(--accent-color)" >Master Schedule</h1>
    <table id="scheduleTable"  >
        <div class="filter-container">
            <select id="departmentFilter" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="">Select Department</option>
                {% for department in departments %}
                <option value="{{ department }}">{{ department }}</option>
                {% endfor %}
            </select>
            <select id="semesterFilter" class="form-select form-select-sm" aria-label=".form-select-sm example">
                {% comment %} default option is first {% endcomment %}
                <option value="">Select Semester</option>
                {% for semester in semesters %}
                <option value="{{ semester }}">{{ semester }}</option>
                {% endfor %}
            </select>
        </div>
        <thead>
            <tr>
                <th>CRN</th>
                <th>Course</th>
                <th>Department</th>
                <th>Credits</th>
                <th>Professor</th>
                <th>Room</th>
                <th>Timeslot</th>
                <th>Semester</th>
                {% if usertype == "Student" %}
                <th>Register</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
            <tr>
                <td>{{ section.crn }}</td>
                <td><a href="/course/{{ section.course.course_id }}" target="_blank">{{ section.course }}</a></td>
                <td>{{ section.department}}</td>
                <td>{{ section.credits }}</td>
                <td>{{ section.faculty.user.first_name }} {{ section.faculty.user.last_name }}</td>
                <td>{{section.room}}</td>
                <td>{{ section.days }}:<br> {{ section.timeslot }}</td>
                <td>{{ section.semester }}</td>
                {% if usertype == "Student" %}
                <td><a href="/register/{{ section.crn }}/" class="btn btn-primary" onClick="showLoadingModal('Registering...')">Register</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready( function () {
        var table = $('#scheduleTable').DataTable();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var selectedDepartment = $('#departmentFilter').val();
                var selectedSemester = $('#semesterFilter').val();
                var department = data[2]; // Assuming department is in the 3rd column
                var semester = data[7]; // Assuming semester is in the 8th column

                if ((selectedDepartment === "" || department === selectedDepartment) &&
                    (selectedSemester === "" || semester === selectedSemester)) {
                    return true;
                }
                return false;
            }
        );

        // Event listener for the filters
        $('#departmentFilter, #semesterFilter').on('change', function () {
            table.draw();
        });
        // first selected semester should be first in the list
        $('#semesterFilter').val('{{ semesters.0 }}');
        table.draw();
    });

    function showLoadingModal(text="Loading...") {
        $('#loadingModal').show();
        $('#loadingText').text(text);
    }
</script>
{% endblock %}