{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    .large-button {
        padding: 40px 40px; /* Increase top and bottom padding */
        font-size: 1.5em; /* Optional: Increase font size for better visibility */
    }
</style>
{% endblock %}
{% block content %}

<div class="container">
    <div>
        <a href="{% url 'homepage' %}" class="btn btn-primary mt-4">Back to Homepage</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Statistics Office</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 mb-3">
            <a href="{% url 'college_statistics_view' %}" class="btn btn-primary btn-lg btn-block large-button">Enrollment Statistics</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{% url 'manage_buildings' %}" class="btn btn-success btn-lg btn-block large-button disabled">Major Statistics</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{% url 'manage_buildings' %}" class="btn btn-warning btn-lg btn-block large-button disabled">Time Commitment Statistics</a>
        </div>
        <div class="col-md-6 mb-3">
            <a href="{% url 'manage_buildings' %}" class="btn btn-secondary btn-lg btn-block large-button disabled">Under/Graduates Statistics</a>
        </div>
    </div>
</div>

    {% endblock %}
    ```