{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container mt-5">
    <button class="btn btn-primary" onclick="window.location.href='/faculty/'">Back</button>
    <h2>Attendance for {{ section.course.course_name }} (CRN: {{ section.crn }})</h2>
    <p class="hidden" id="sectionID" style="display:none;">{{ section.crn }}</p>
    <form method="post" action="{% url 'update_attendance' section_id=section.crn %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="datePicker">Select Date:</label>
            <input id="datePicker" type="date" name="date_of_class" value="" max="{{ today }}">
        </div>
        <div class="form-group">
            <label for="attendanceDateSelect">Previous Attendances:</label>
            <select class="form-control" id="attendanceDateSelect" {% if has_previous_dates %} {%else%}disabled {% endif %}>
                <option value="">Select a Date</option>
                {% for date in previous_dates %}
                    <option value="{{ date|date:"Y-m-d" }}">{{ date|date:"Y-m-d" }}</option>
                {% endfor %}
            </select>
        </div>
        {% if disabled == True %}
            <p class="text-danger">It is outside the current valid time period for this attendance. This form has been disabled.</p>
            <p class="text-danger">Valid time period: {{ start_date}} to {{ end_date}}</p>
            <p class="text-danger">Current time: {{ current_date }}</p>
        {% endif %}
        <table class="table table-bordered" id="attendanceTable">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Present</th>
                </tr>
            </thead>
            <tbody>
                {% for enrollment in enrollments %}
                <tr>
                    <td>{{ enrollment.student.user.first_name }} {{ enrollment.student.user.last_name }}</td>
                    <td>

                        {% comment %} if disabled = True, checkbox is disabled, otherwise it is enabled {% endcomment %}
                        {% if disabled == False%}
                            <input type="checkbox" name="present_{{ enrollment.student.studentID }}" value="true" {% if attendances|get_item:enrollment.student.studentID %} checked {% endif %}>
                        {% else %}
                            <input type="checkbox" name="present_{{ enrollment.student.studentID }}" value="true" {% if attendances|get_item:enrollment.student.studentID %} checked {% endif %} disabled>
                        {% endif %}
                        <input type="hidden" name="attendances[]" value="{{ enrollment.student.studentID }}">
                    </td>
                </tr>
                {% comment %} <p> {{ enrollment.student.studentID }} - {{ attendances|get_item:enrollment.student.studentID }}</p> {% endcomment %}
                {% endfor %}

            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" {% if disabled == True %} disabled {% endif %}>Save Attendance</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    $('#datePicker').change(function() {
        var section_id = $('#sectionID').text();
        var selectedDate = $(this).val();
        console.log("Selected Date:", selectedDate); // Debugging line
        window.location.href = "/attendance/" + section_id + "?date=" + selectedDate;
    });
    $(document).ready(function() {
        if (window.location.search) {
            var selectedDate = window.location.search.split('=')[1];
            $('#datePicker').val(selectedDate);
        }
        else {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

            if(dd < 10) {
                dd = '0' + dd;
            }

            if(mm < 10) {
                mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
            window.location.href = "/attendance/" + $('#sectionID').text() + "?date=" + today;
        }
        $('#attendanceTable').DataTable();

        $('form').on('submit', function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function(response) {
                    if (response.status === 'success') {
                        //alert('Attendance updated successfully');
                        location.reload();  // Reload the page to see updated attendance
                    } else {
                        alert('Error updating attendance');
                    }
                }
            });
        });
    });
    $('#attendanceDateSelect').change(function() {
        var selectedDate = $(this).val();
        if (selectedDate) {
            var sectionID = $('#sectionID').text();
            window.location.href = "/attendance/" + sectionID + "?date=" + selectedDate;
        }
    });
</script>
{% endblock %}